.ControlsApp {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #001b35, #19665c);
  min-height: 100vh;
}

.wachter-logo {
  scale: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 6rem;
}

.RoomSelector {
  scale: 1.6 1.6;
  margin-top: 6rem;
  margin-left: 12rem;
  border: none;
  background-color: rgb(19, 110, 185);
  padding: 20px;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.RoomControls {
  display:inline-block;
  position:relative;
}
  
.RoomControls .controlToggleButton{
  position: absolute;
  /* bottom:4em;
  right:3.5em; */
}

.controlToggleButton {
  background-image: url('../images/pointer.png');
  background-size: 85px 85px;
  width: 85px;
  height: 85px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


#topright {
  position: absolute;
  right: 0;
  top: 0;
}

#mainphoto {
  margin-top: 200px;
  scale: 1.1;
}